= t('.dear_user', first_name: @user.first_name)
%br
= t('.thank_you_for_signing_up')
%br
= link_to t('.confirmation_link'), confirmation_url(@user.confirmation_token)
%br
= t('.by_confirming_your_email_html')
%br
= confirmation_url(@user.confirmation_token)
%br
= t('.we_can_not_wait_for_you')
%br
= t('.need_assistance_with_anything')
%br
= t('.thank_you')
%br
= t('.voc_booster_address_html')
