!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %title VocBooster
    %meta{ content: 'width=device-width,initial-scale=1', name: 'viewport' }

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true

  %body
    %header
      .user-bar
        = link_to 'Profile', profile_path, class: 'profiles'
        = link_to 'Logout', signout_path, class: 'logout'
      %nav.main-menu
        %ul.flex.gap
          %li= link_to 'About', '#'
          %li= link_to 'Learning', '#'
          %li= link_to 'My Vocabulary', '#'
          %li= link_to 'Stats', '#'
    %main
      = flash_message
      = yield
